<div id="Content">
  <div id="content-left" class="container">
    <div class="text-center hidden-xs">
      <hr class="spacer spacer-sm" />
    </div>

    <div class="category-grid row tight">
      <div class="category-grid-item category_baguio-map col-xs-12 col-sm-12">
        <div
          class="wrapper"
          style="background-image: url('assets/img/background/map.jpg')"
        >
          <button
            type="button"
            class="text-center"
            [routerLink]="['/baguio-map']"
          >
            <span class="category-name"
              ><i class="category-icon fa fa-map fa-fw fa-2x"></i> <br />Baguio
              Map</span
            >
          </button>
        </div>
      </div>

      <div
        class="category-grid-item category_tourist-spots col-xs-12 col-sm-12"
      >
        <div
          class="wrapper"
          style="background-image: url('assets/img/background/tourist-spots.jpg')"
        >
          <button
            type="button"
            class="text-center"
            [routerLink]="['/tourist-spots']"
          >
            <span class="category-name"
              ><i class="category-icon fa fa-camera fa-fw fa-2x"></i>
              <br />Tourist Spots</span
            >
          </button>
        </div>
      </div>

      <div
        class="category-grid-item category_police-stations col-xs-12 col-sm-12"
      >
        <div
          class="wrapper"
          style="background-image: url('assets/img/background/restaurant.jpg')"
        >
          <button
            type="button"
            class="text-center"
            [routerLink]="['/restaurants']"
          >
            <span class="category-name"
              ><i class="category-icon fa fa-delicious fa-fw fa-2x"></i>
              <br />Restaurants</span
            >
          </button>
        </div>
      </div>

      <div
        class="category-grid-item category_police-stations col-xs-12 col-sm-12"
      >
        <div
          class="wrapper"
          style="background-image: url('assets/img/background/foods.jpg')"
        >
          <button
            type="button"
            class="text-center"
            [routerLink]="['/foods']"
          >
            <span class="category-name"
              ><i class="category-icon fa fa-delicious fa-fw fa-2x"></i>
              <br />Foods</span
            >
          </button>
        </div>
      </div>

      <div
        class="category-grid-item category_police-stations col-xs-12 col-sm-12"
      >
        <div
          class="wrapper"
          style="background-image: url('assets/img/background/hotels.jpg')"
        >
          <button
            type="button"
            class="text-center"
            [routerLink]="['/hotels']"
          >
            <span class="category-name"
              ><i class="category-icon fa fa-hotel fa-fw fa-2x"></i>
              <br />Hotels</span
            >
          </button>
        </div>
      </div>

      <div
        class="category-grid-item category_police-stations col-xs-12 col-sm-12"
      >
        <div
          class="wrapper"
          style="background-image: url('assets/img/background/transients.jpg')"
        >
          <button
            type="button"
            class="text-center"
            [routerLink]="['/transients']"
          >
            <span class="category-name"
              ><i class="category-icon fa fa-hotel fa-fw fa-2x"></i>
              <br /> Transients</span
            >
          </button>
        </div>
      </div>

      <div
        class="category-grid-item category_police-stations col-xs-12 col-sm-12"
      >
        <div
          class="wrapper"
          style="background-image: url('assets/img/background/souvenirs-stores.jpg')"
        >
          <button
            type="button"
            class="text-center"
            [routerLink]="['/souvenir-stores']"
          >
            <span class="category-name"
              ><i class="category-icon fa fa-shopping-bag fa-fw fa-2x"></i>
              <br />Souvenir Stores</span
            >
          </button>
        </div>
      </div>

      <div
        class="category-grid-item category_police-stations col-xs-12 col-sm-12"
      >
        <div
          class="wrapper"
          style="background-image: url('assets/img/background/souvenirs.jpg')"
        >
          <button
            type="button"
            class="text-center"
            [routerLink]="['/souvenirs']"
          >
            <span class="category-name"
              ><i class="category-icon fa fa-shopping-bag fa-fw fa-2x"></i>
              <br />Souvenirs</span
            >
          </button>
        </div>
      </div>

      <div
        class="category-grid-item category_police-stations col-xs-12 col-sm-12"
      >
        <div
          class="wrapper"
          style="background-image: url('assets/img/background/police.jpg')"
        >
          <button
            type="button"
            class="text-center"
            [routerLink]="['/police-stations']"
          >
            <span class="category-name"
              ><i class="category-icon fa fa-shield fa-fw fa-2x"></i>
              <br />Police Stations</span
            >
          </button>
        </div>
      </div>

      <div
        class="category-grid-item category_police-stations col-xs-12 col-sm-12"
      >
        <div
          class="wrapper"
          style="background-image: url('assets/img/background/ghost-stories.jpg')"
        >
          <button
            type="button"
            class="text-center"
            [routerLink]="['/ghost-stories']"
          >
            <span class="category-name"
              ><i class="category-icon fa fa-ghost fa-fw fa-2x"></i>
              <br /> Ghost Stories</span
            >
          </button>
        </div>
      </div>

      <div class="category-grid-item category_exit col-xs-12 col-sm-12">
        <div
          class="wrapper"
          style="background-image: url('assets/img/background/exit.jpg')"
        >
          <button type="button" class="text-center" (click)="exit()">
            <span class="category-name"
              ><i class="category-icon fa fa-close fa-fw fa-2x"></i>
              <br />Exit</span
            >
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
